html,
body {
    min-width: 850px;
}

.ant-spin-container {
    height: 100%;
}

.ant-table-tbody>tr>td,
.ant-table-thead>tr>th {
    white-space: nowrap;
}

.rtd-ellipsis {
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.iconfont {
    cursor: pointer;
}

.iconfont.disabled {
    opacity: .4;
    cursor: default;
}

.icon-action {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    cursor: pointer;
}

.charts-main {
    overflow-x: auto;
}

.charts-main canvas {
    width: 100% !important;
}


/* 粒子动画 start */

.pay-up-to-dowm-rowup {
    width: 10px;
    height: 10px;
    background: #ec7c31;
    -webkit-animation: 0.4s pay_up_to_dowm_rowup linear infinite normal;
    animation: 0.4s pay_up_to_dowm_rowup linear infinite normal;
    position: absolute;
    display: inline-block;
    border-radius: 50%;
    z-index: 1;
}

@keyframes pay_up_to_dowm_rowup {
    0% {
        background: #ec7c31;
        left: 48.5%;
        top: 0;
    }

    50% {
        background: #ec7c31;
        left: 48.5%;
        top: 90%;
    }

    51% {
        background: #ec7c31;
        left: 48.5%;
        top: 90%;
    }

    100% {
        background: #ec7c31;
        left: 48.5%;
        top: 0;
    }
}

.pay-left-to-right-rowup {
    width: 10px;
    height: 10px;
    background: #ec7c31;
    -webkit-animation: 0.2s pay_right_to_left_rowup linear infinite normal;
    animation: 0.2s pay_right_to_left_rowup linear infinite normal;
    position: absolute;
    display: inline-block;
    border-radius: 50%;
    z-index: 1;
}

@keyframes pay_right_to_left_rowup {
    0% {
        background: #ec7c31;
        left: 0;
        top: 47%;
    }

    100% {
        background: #ec7c31;
        left: 90%;
        top: 47%;
    }
}

.pay-left-to-right-2-rowup {
    width: 10px;
    height: 10px;
    background: #ec7c31;
    -webkit-animation: 0.4s pay_right_to_left_2_rowup linear infinite normal;
    animation: 0.4s pay_right_to_left_2_rowup linear infinite normal;
    position: absolute;
    display: inline-block;
    border-radius: 50%;
    z-index: 1;
}

@keyframes pay_right_to_left_2_rowup {
    0% {
        background: #ec7c31;
        left: 0;
        top: 47%;
    }

    50% {
        background: #ec7c31;
        left: 95%;
        top: 47%;
    }

    100% {
        background: #ec7c31;
        left: 190%;
        top: 47%;
    }
}

.pay-left-to-right-3-rowup {
    width: 10px;
    height: 10px;
    background: #ec7c31;
    -webkit-animation: 0.2s pay_right_to_left_3_rowup linear infinite normal;
    animation: 0.2s pay_right_to_left_3_rowup linear infinite normal;
    position: absolute;
    display: inline-block;
    border-radius: 50%;
    z-index: 1;
}

@keyframes pay_right_to_left_3_rowup {
    0% {
        background: #ec7c31;
        left: -2.5px;
        top: 96%;
    }

    100% {
        background: #ec7c31;
        left: 100%;
        top: 96%;
    }
}

.pay-up-to-dowm-2-rowup {
    width: 10px;
    height: 10px;
    background: #ec7c31;
    -webkit-animation: 0.2s pay_up_to_dowm_2_rowup linear infinite normal;
    animation: 0.2s pay_up_to_dowm_2_rowup linear infinite normal;
    position: absolute;
    display: inline-block;
    border-radius: 50%;
    z-index: 1;
}

@keyframes pay_up_to_dowm_2_rowup {
    0% {
        background: #ec7c31;
        left: -6.5px;
        top: -2.5px;
    }

    100% {
        background: #ec7c31;
        left: -6.5px;
        top: 100%;
    }
}

.pay-up-to-dowm-chain-rowup {
    width: 10px;
    height: 10px;
    background: #ec7c31;
    -webkit-animation: 0.2s pay_up_to_dowm_chain_rowup linear infinite normal;
    animation: 0.2s pay_up_to_dowm_chain_rowup linear infinite normal;
    position: absolute;
    display: inline-block;
    border-radius: 50%;
    z-index: 1;
}

@keyframes pay_up_to_dowm_chain_rowup {
    0% {
        background: #ec7c31;
        left: 31.5%;
        top: 0;
    }

    100% {
        background: #ec7c31;
        left: 31.5%;
        top: 90%;
    }
}

.pay-dowm-to-up-chain-rowup {
    width: 10px;
    height: 10px;
    background: #ec7c31;
    -webkit-animation: 0.2s pay_dowm_to_up_chain_rowup linear infinite normal;
    animation: 0.2s pay_dowm_to_up_chain_rowup linear infinite normal;
    position: absolute;
    display: inline-block;
    border-radius: 50%;
    z-index: 1;
}

@keyframes pay_dowm_to_up_chain_rowup {
    0% {
        background: #ec7c31;
        left: 64.3%;
        top: 90%;
    }

    100% {
        background: #ec7c31;
        left: 64.3%;
        top: 0;
    }
}

/* 粒子动画 end */


.ellipsis-1 {
    word-break: break-all;
    display: -webkit-box !important;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}